be/src/xml/xmlschema.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="dataset">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Projekt">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ProjektID" type="xs:integer" />
                            <xs:element name="GruppeID" type="xs:integer" />
                            <xs:element name="NutzerID" type="xs:integer" />
                            <xs:element name="Name" type="xs:string" />
                            <xs:element name="Werkzeugliste">
                                <xs:complexType>
                                    <xs:sequence>
                                        <!--<xs:element name="WerkzeuglisteID" type="xs:integer" />-->
                                        <xs:element name="Werkzeug">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="WerkzeugID" type="xs:integer" />
                                                    <xs:element name="Name" type="xs:string" />
                                                    <xs:element name="Beschreibung" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Materialliste">
                                <xs:complexType>
                                    <xs:sequence>
                                        <!--<xs:element name="MateriallisteID" type="xs:integer" />-->
                                        <xs:element name="Material">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MaterialID" type="xs:integer" />
                                                    <xs:element name="Name" type="xs:string" />
                                                    <xs:element name="Beschreibung" type="xs:string" />
                                                    <xs:element name="Menge" type="xs:integer" />
                                                    <xs:element name="Einheit" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Wertliste">
                                <xs:complexType>
                                    <xs:sequence>
                                        <!--<xs:element name="WertlisteID" type="xs:integer" />-->
                                        <xs:element name="Wert1" type="xs:integer" />
                                        <xs:element name="Wert2" type="xs:integer" />
                                        <xs:element name="Wert3" type="xs:integer" />
                                        <xs:element name="Wert4" type="xs:integer" />
                                        <xs:element name="Wert5" type="xs:integer" />
                                        <xs:element name="Wert6" type="xs:integer" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Tagliste">
                                <xs:complexType>
                                    <xs:sequence>
                                        <!--<xs:element name="TaglisteID" type="xs:integer" />-->
                                        <xs:element name="Tag">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="TagID" type="xs:integer" />
                                                    <xs:element name="TagName" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                            </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Kommentarliste">
                                <xs:complexType>
                                    <xs:sequence>
                                        <!--<xs:element name="KommentarlisteID" type="xs:integer" />-->
                                        <xs:element name="KommentarView">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="KommentarViewID" type="xs:integer" />
                                                    <xs:element name="Inhalt" type="xs:string" />
                                                    <xs:element name="DatumErstellt" type="xs:date" />
                                                    <xs:element name="Nick" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                            </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Bewertungliste">
                                <xs:complexType>
                                    <xs:sequence>
                                        <!--<xs:element name="BewertunglisteID" type="xs:integer" />-->
                                        <xs:element name="Stern1" type="xs:integer" />
                                        <xs:element name="Stern2" type="xs:integer" />
                                        <xs:element name="Stern3" type="xs:integer" />
                                        <xs:element name="Stern4" type="xs:integer" />
                                        <xs:element name="Stern5" type="xs:integer" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Nutzer">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NutzerID" type="xs:integer" />
                                        <xs:element name="Nick" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Kurzbeschreibung" type="xs:string" />
                            <xs:element name="Beschreibung" type="xs:string" />
                            <xs:element name="DatumErstellt" type="xs:date" />
                            <xs:element name="DatumErneuert" type="xs:date" />
                            <xs:element name="BildURL" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>