be/src/xml/xmlschema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="dataset">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="projects">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="project">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:short" name="topicID"/>
                                        <xs:element type="xs:short" name="groupID"/>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element name="materials">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="material" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="name"/>
                                                                <xs:element type="xs:short" name="amount"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="tools">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="tool" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="name"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="description"/>
                                        <xs:element name="values">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:byte" name="fun"/>
                                                    <xs:element type="xs:byte" name="scientific"/>
                                                    <xs:element type="xs:byte" name="costs"/>
                                                    <xs:element type="xs:byte" name="complexity"/>
                                                    <xs:element type="xs:byte" name="requirements"/>
                                                    <xs:element type="xs:byte" name="accessibility"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="picture"/>
                                        <xs:element name="feedback">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="rating">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:short" name="star1"/>
                                                                <xs:element type="xs:short" name="star2"/>
                                                                <xs:element type="xs:short" name="star3"/>
                                                                <xs:element type="xs:short" name="star4"/>
                                                                <xs:element type="xs:short" name="star5"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="comments">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="comment" maxOccurs="unbounded" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:short" name="id"/>
                                                                            <xs:element type="xs:string" name="username"/>
                                                                            <xs:element type="xs:string" name="text"/>
                                                                            <xs:element type="xs:short" name="likes"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="id" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="topics">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="topic" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:string" name="color"/>
                                        <xs:element name="groups">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="group" maxOccurs="unbounded" minOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="name"/>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:short" name="id" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="id" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>