be/src/xsd/xmlschemaDetail.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="dataset">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Projekt">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="ProjektID"/>
                            <xs:element type="xs:integer" name="GruppeID"/>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element name="Werkzeugliste">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Werkzeug" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="Name"/>
                                                    <xs:element type="xs:string" name="Beschreibung"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Materialliste">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Material" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="Name"/>
                                                    <xs:element type="xs:string" name="Beschreibung"/>
                                                    <xs:element type="xs:short" name="Menge"/>
                                                    <xs:element type="xs:string" name="Einheit"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Wertliste" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:integer" name="Wert1"/>
                                        <xs:element type="xs:integer" name="Wert2"/>
                                        <xs:element type="xs:integer" name="Wert3"/>
                                        <xs:element type="xs:integer" name="Wert4"/>
                                        <xs:element type="xs:integer" name="Wert5"/>
                                        <xs:element type="xs:integer" name="Wert6"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Tagliste">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Tag" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="TagName"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Kommentarliste">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="KommentarView" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="Inhalt"/>
                                                    <xs:element type="xs:date" name="DatumErstellt"/>
                                                    <xs:element type="xs:string" name="Nick"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Bewertungliste" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:integer" name="Stern1"/>
                                        <xs:element type="xs:integer" name="Stern2"/>
                                        <xs:element type="xs:integer" name="Stern3"/>
                                        <xs:element type="xs:integer" name="Stern4"/>
                                        <xs:element type="xs:integer" name="Stern5"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Nutzer">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Nick"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="Kurzbeschreibung"/>
                            <xs:element type="xs:string" name="Beschreibung"/>
                            <xs:element type="xs:date" name="DatumErstellt"/>
                            <xs:element type="xs:date" name="DatumErneuert"/>
                            <xs:element type="xs:string" name="BildURL"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>