be/src/dtd/details.dtd

<!ELEMENT dataset (Projekt,BackgroundURL)>
<!ELEMENT Projekt (ProjektID,GruppeID,ProjektName,Werkzeugliste?,Materialliste?,Wertliste,Tagliste?,Kommentarliste?,Bewertungliste,Nutzer,Kurzbeschreibung?,Beschreibung,DatumErstellt,DatumErneuert,BildURL)>
<!ELEMENT ProjektID (#PCDATA)>
<!ELEMENT GruppeID (#PCDATA)>
<!ELEMENT ProjektName (#PCDATA)>
<!ELEMENT Werkzeugliste (Werkzeug)*>
<!ELEMENT Werkzeug (Name,Beschreibung)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Beschreibung (#PCDATA)>
<!ELEMENT Materialliste (Material)>
<!ELEMENT Material (Name,Beschreibung,Menge,Einheit)>
<!ELEMENT Menge (#PCDATA)>
<!ELEMENT Einheit (#PCDATA)>
<!ELEMENT Wertliste (Wert1,Wert2,Wert3,Wert4,Wert5,Wert6)>
<!ELEMENT Wert1 (#PCDATA)>
<!ELEMENT Wert2 (#PCDATA)>
<!ELEMENT Wert3 (#PCDATA)>
<!ELEMENT Wert4 (#PCDATA)>
<!ELEMENT Wert5 (#PCDATA)>
<!ELEMENT Wert6 (#PCDATA)>
<!ELEMENT Tagliste (Tag)*>
<!ELEMENT Tag (TagName)>
<!ELEMENT TagName (#PCDATA)>
<!ELEMENT Kommentarliste (KommentarView)*>
<!ELEMENT KommentarView (Inhalt,DatumErstellt,Nick)>
<!ELEMENT Inhalt (#PCDATA)>
<!ELEMENT DatumErstellt (#PCDATA)>
<!ELEMENT Nick (#PCDATA)>
<!ELEMENT Bewertungliste (Stern1,Stern2,Stern3,Stern4,Stern5)>
<!ELEMENT Stern1 (#PCDATA)>
<!ELEMENT Stern2 (#PCDATA)>
<!ELEMENT Stern3 (#PCDATA)>
<!ELEMENT Stern4 (#PCDATA)>
<!ELEMENT Stern5 (#PCDATA)>
<!ELEMENT Nutzer (Nick)>
<!ELEMENT Kurzbeschreibung (#PCDATA)>
<!ELEMENT DatumErneuert (#PCDATA)>
<!ELEMENT BildURL (#PCDATA)>
<!ELEMENT BackgroundURL (#PCDATA)>