be/src/dtd/projects.dtd

<!DOCTYPE dataset [
        <!ELEMENT dataset (Projekte)*>
        <!ELEMENT Projekte (ProjektView)*>
        <!ELEMENT ProjektView (ProjektID|GruppeID|ProjektName|Kurzbeschreibung)*>
        <!ELEMENT ProjektID (#PCDATA)>
        <!ELEMENT GruppeID (#PCDATA)>
        <!ELEMENT ProjektName (#PCDATA)>
        <!ELEMENT Kurzbeschreibung (#PCDATA)>
        ]>